section.container(style="display: flex; background: #0099e2; height:auto; max-width: 100%;")
    .row
        .col
            article#choose 
                h3 CHOOSE
                h1 CollegeAmerica 529 savings plan
                p You trust your doctor with your health and your mechanic with your car. You shouldn't settle for anything less when you’re deciding where to invest your money
                p Trusted by more than 1 million families nationwide, CollegeAmerica is the country’s largest 529 savings plan,1 with more than $60 billion invested.
                    sup 2
                a(href="") Learn more ->
        .col-lg-7
            .kid-raise.shadow  
                img(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/photos/Children-raising-hands-in-school-1.jpg", alt="")
                article
                    h1 We're helping more than 2.3 million future students pursue their dreams.
                        sup 3
                    p Any adult who's a U.S. citizen or legal resident can open a CollegeAmerica 529 savings plan, regardless of income.
                    p The earnings in a 529 savings plan are exempt from federal taxes if withdrawals are used for qualified expenses. And some states offer tax benefits as well.
                    p(style="padding-bottom : 0") CollegeAmerica has among the lowest fees in the industry.
                        sup 4

    