link(rel="stylesheet", href="capital.css")
section
    .footer-nav 
        .col-sm-6.footer-nav__left
            ul
                li 
                    a(href="") Copyright 
                    | &#169; Capital Group. All rights reserved.
                li Securities offered through American Funds Distributors, Inc.
 

        .col-sm-6.float-right   
            .footer-nav__right 
                ul
                    li
                        a(href="") PRIVACY
                    li 
                        a(href="") Account Agreement
                    li
                        a(href="") Business Continuity
                    li(style="border-right: none") 
                        a(href="") Capital Group Worldwide