
.plan {
    overflow: hidden;
    height: 800px;
    margin-top: 10vh;
    padding: 16px;

    .col-lg-7 {
        h2 {
            font-size: 2.3rem;
            font-weight: 700;
        }

    }

    &__fatherson {
        width: 70vw;
    }

    .col-lg-5 {
        float: right;
        top: -66vh;
        right: -6vw;
    }

    .col-sm-3 {
        display: grid;

        img {
            margin-bottom: 10px;
            width: 5vw;
        }

        p {
            font-size: 20px;
            width: 19vw;
            font-weight: 300;
        }
        a {
            color: #0099E2;
            font-weight: 900;
            font-size: 21px;
        }
    }
}

.d-lg-none {
    margin: auto;
    max-width: 90%;
    text-align: center;
    display: grid;
    
    article{
        text-align: center;
        max-width: 70%;
        margin: auto;
        p {
            font-size: 0.8rem;
        }
    }
    .col-sm-6 {
        text-align: left;
        display: grid;
        margin-top: 20px;
        max-width: 50%;
    }
}  
@media (max-width : 585px) {
    .d-lg-none {
        .img-fluid {
            padding-top : 20vh;
        }
    }
}
