section.plan
    .d-none.d-lg-block
        .col-lg-7
            .row
                article
                    h4  Plan
                    h1  Your savings plan: Start now.
                    p   You can do this. We make it simple to figure out what,<br>when and how much to save.
                    h3  Let's do the math.

            .row
                .col-sm-3
                    img.rounded.float-left(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png' alt='...')
                    p I want to see how much my savings can grow over time.
                    a(href="") Go to the savings calculator

                .col-sm-3(style = "left : 15vw")
                    img.rounded.float-right(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png' alt='...')
                    p I want to compare college costs and create a savings plan.
                    a(href="") Go to the college calculator
                    

        .col-lg-5
            .plan__fatherson
                img.img-fluid(style="width:75vw")(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png", alt="")
                
                
    .d-lg-none
        article
            h4  Plan
            h1  Your savings plan: Start now.
            p   You can do this. We make it simple to figure out what,<br>when and how much to save.
            h3  Let's do the math.

        .row
            .col-sm-6
                img.rounded.float-left(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png' alt='...')
                p I want to see how much my savings<br> can grow over time.
                a(href="") Go to the savings calculator

            .col-sm-6
                img.rounded.float-right(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/icons/icon-savings-calculator.png' alt='...')
                p I want to compare college costs and<br> create a savings plan.
                a(href="") Go to the college calculator

        span 
            img.img-fluid(src="https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/father-walking-with-young-son.png", alt="")