.list {
    float: none;
    max-width: 100%;
    margin: auto;
    height: auto;
    margin-top: 33vh;
    background: rgb(242,242,242);
    font-size: 21px;
    color: #333333;
    counter-reset:table-ol;
    ol {margin: auto;
        max-width: 100%;
        display: table;
        line-height: 2;
        font-weight: bold;
        padding-top: 20px;
        li {
            counter-increment: table-ol;
            display: table-row;
            &:before{
                display: table-cell;
                counter-increment: li;
  			    content: counter(table-ol);
            }
            span {
                font-size: 1.1rem;
                font-weight: 400;
                letter-spacing: 0.5px;
            }
        }
    }
     
    
}
.tNc {
    margin: 10%;
    margin-top: 18vh;
    padding-top: 3vh;

    .p1{
        font-weight: bold;   
        a {
            color: rgb(29, 87, 153);
            font-weight: 800;
            font-size: 20px;
        }
        a:hover {
            background: transparent;
        }
    }
}
@media (max-width: 1024px) {
    .list{
        ol{
            padding-left: 5px;
            padding-top: 20px;
            li{
                line-height: 1.33;
                &:before {
                    font-size: 15px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
    }
}


@media (max-width : 769px) {
    ol {
        background: #ffffff;
        
    }
}