.floatBar
    ul
        li
            a.btn.btn-lg.btn-block(href='#' data-toggle='tooltip' data-placement='top' title='Email')
                img.kpx_btn-facebook(src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-and-lines-1/2/65-512.png", alt="")
                span.hidden-xs
        li
            a.btn.btn-lg.btn-block(href='#' data-toggle='tooltip' data-placement='top' title='Email')
                img.kpx_btn-facebook(src="https://icon-library.net/images/white-email-icon-png/white-email-icon-png-29.jpg", alt="")
                span.hidden-xs
        li
            a.btn.btn-lg.btn-block(href='#' data-toggle='tooltip' data-placement='top' title='Facebook')
                img.kpx_btn-facebook(src="http://ipesfa-ushuaia.edu.ar/wp-content/uploads/2017/09/facebook-icon.png", alt="")
                span.hidden-xs
        li
            a.btn.btn-lg.btn-block(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn')
                img.kpx_btn-facebook(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png", alt="")
                span.hidden-xs
        li
            a.btn.btn-lg.btn-block(href='#' data-toggle='tooltip' data-placement='top' title='LinkedIn')
                img.kpx_btn-facebook(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-512.png", alt="")
                span.hidden-xs
