.hideMob.showDesk
  .utility-bar
    ul  
      a.utility-bar__btn.login-btn(href='#') Login
      a.utility-bar__btn(href='#') Preferences
      a.utility-bar__btn(href='#') Contact Us
        
    li.nav-item.drpdown
        a#navbarDropdown.drpdown__btn.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span
            strong Other sites 
          | : Individual Investors  
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
    