.wrapper
  .container
    div
      img(src='https://picsum.photos/200/350' alt='')
    .big
      img(src='https://picsum.photos/200/200' alt='')
    div
      img(src='https://picsum.photos/600/600' alt='')
    .vertical
      img(src='https://picsum.photos/250/400' alt='')
    div
      img(src='https://picsum.photos/400/150' alt='')
    div
      img(src='https://picsum.photos/200/220' alt='')
    .horizontal
      img(src='https://picsum.photos/450/200' alt='')
    