section(style='text-align : center; margin-top: 15vh')
    .savings
        article
            h1 Open a 529 savings plan
            p Work with your financial advisor to open a CollegeAmerica 529 savings plan. He or she will help you to<br> understand your choices and choose the best investment option for your family. Plus, working with a<br> professional may give you some extra time to spend with your favorite people — your kids. If you don't have a<br> financial advisor, you can use our tool to find one.
            a.rect(href="#") FIND AN ADVISOR