#carouselExampleCaptions.d-none.d-lg-block.carousel.slide(data-ride='carousel', style="overflow : hidden; height:auto")
    .indicators
        ol.carousel-indicators
            li.active 
                a(data-target='#carouselExampleCaptions', data-slide-to='0', data-interval='1000') New Parents
            li
                a(data-target='#carouselExampleCaptions', data-slide-to='1', data-interval='1000') Growing family
            li
                a(data-target='#carouselExampleCaptions', data-slide-to='2', data-interval='1000') Up next, college
            li
                a(data-target='#carouselExampleCaptions', data-slide-to='3', data-interval='1000') On campus
            li
                a(data-target='#carouselExampleCaptions', data-slide-to='4', data-interval='1000') Grandparents

    .carousel-inner
        .carousel-item.active
            img.col-5(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/Expectant-mother-and-father-illustration-small-green.png', alt='...', itemprop="carouselImage1", value="0")
            article.col-7 
                h1 New parents 
                p You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
                h3 Start now. Start small. Baby steps.
                a.btn.btn-link(href="") Learn more ->
        .carousel-item
            img.col-5(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/family-expecting-second-child-graphic-1.png', alt='...', itemprop="carouselImage1", value="1")
            article.col-7 
                h1 Growing family
                p Now that you have more than one child, it feels like it's time to get serious about saving for their future.
                h3 Kickstart a new savings plan
                a.btn.btn-link(href="") Learn more ->
        .carousel-item
            img.col-5(src='https://www.americanfunds.com//content/dam/cgc/shared-content/images/infographics/starting-college-graphic-3.png', alt='...', itemprop="carouselImage1", value="2")
            article.col-7 
                h1 Up next, college
                p Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
                h3 Let’s figure out a plan. 
                a(href="") Learn more ->
        .carousel-item
            img.col-5(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/students-on-college-campus-graphic.png', alt='...', itemprop="carouselImage1", value="3")
            article.col-7 
                h1 On campus
                p With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
                h3 Let’s plan the next step.
                a(href="") Learn more ->
        .carousel-item
            img.col-5(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/grandparents-spending-time-with-grandchildren-closeup-graphic.png', alt='...', itemprop="carouselImage1", value="4")
            article.col-7 
                h1 Grandparents
                p You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
                h3 Here’s how to contribute.
                a(href="") Learn more ->

.d-lg-none
    ul
        li
            h3 New Parents
            img(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/Expectant-mother-and-father-illustration-small-green.png', alt='...')
            p You’re dealing with diapers, drool and midnight feedings. Now you're supposed to think about saving for college? We make it easy.
            h3 Start now. Start small. Baby steps.
            a.btn.btn-link(href="") Learn more ->

        li
            h3 Growing family
            img(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/family-expecting-second-child-graphic-1.png', alt='...')
            p Now that you have more than one child, it feels like it's time to get serious about saving for their future.
            h3 Kickstart a new savings plan
            a.btn.btn-link(href="") Learn more ->

        li
            h3 Up next, college
            img(src='https://www.americanfunds.com//content/dam/cgc/shared-content/images/infographics/starting-college-graphic-3.png', alt='...')
            p Your child is starting to apply to colleges, and reality is setting in: There’s a gap between what you have and what it costs.
            h3 Let’s figure out a plan. 
            a(href="") Learn more ->

        li
            h3 On campus
            img(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/students-on-college-campus-graphic.png', alt='...')
            p With your child on campus, you need to stretch your money now and tackle how to handle the debt that’s coming later.
            h3 Let’s plan the next step.
            a(href="") Learn more ->

        li
            h3 Grandparents
            img(src='https://www.americanfunds.com/content/dam/cgc/shared-content/images/infographics/grandparents-spending-time-with-grandchildren-closeup-graphic.png', alt='...')
            p You adore your grandchildren and want to show it by helping with the costs of college. Best grandparents ever!
            h3 Here’s how to contribute.
            a(href="") Learn more -> 