section.footer-menu
    .d-none.d-lg-block(style="height: -webkit-fill-available;")  
        .footer-menu__column(style='margin-left: 10vw')
            h3 MY ACCOUNTS
            ul
                li
                    a(href='#') View Portfolio
                li
                    a(href='#') Postfolio Value History
                li
                    a(href='#') Statements &amp; Tax Forms
                li
                    a(href='#') Sign Up for Paperless Delivery of Documents
            
        .footer-menu__column
            h3 INVESTMENTS
            ul
                li
                    a(href='#') All American Funds
                li
                    a(href='#') Compare Jobs
                li
                    a(href='#') Prospectuses &amp; Annual Reports
                
        .footer-menu__column
            h3 INSIGHTS
            ul
                li
                    a(href='#') Investment Insights
                
        .footer-menu__column
            h3 PRODUCTS
            ul
                li
                    a(href='#') Traditional and Roth IRAs
                li
                    a(href='#') SIMPLE IRAs
                li
                    a(href='#') 401(k) Plans
                li
                    a(href='#') CollegeAmerica® 529 Plans
                li
                    a(href="#") Portfolio Series    

        .footer-menu__column
            h3 PLANNING
            ul
                li
                    a(href='#') Tools &amp; Calculators
                li
                    a(href='#') Investing Fundamentals
                li
                    a(href='#') Mutual Fund Basics
                li
                    a(href='#') Creating a Financial Plan
                li
                    a(href="#") Retirement Planning
                li
                    a(href='#') College Savings
                li
                    a(href="#") Market Fluctuations

        .footer-menu__column
            h3 SERVICE &amp; SUPPORT
            ul
                li
                    a(href='#') Forms
                li
                    a(href='#') Tax Center
                li
                    a(href='#') How to Use Your Account
                li
                    a(href='#') Changing Your Preferences
                li
                    a(href="#") Contact Us

    .d-lg-none
        .container
            #accordion.panel-group(style = "margin-left:-76px")
                .panel.panel-default.active
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapseOne')
                                i.fa.fa-caret-right
                                |  MY ACCOUNTS
                    #collapseOne.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') View Portfolio
                                    li
                                        a(href='#') Postfolio Value History
                                    li
                                        a(href='#') Statements &amp; Tax Forms
                                    li
                                        a(href='#') Sign Up for Paperless Delivery of Documents
            
                .panel.panel-default
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapseTwo')
                                i.fa.fa-caret-right
                                |  INVESTMENTS
                    #collapseTwo.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') All American Funds
                                    li
                                        a(href='#') Compare Jobs
                                    li
                                        a(href='#') Prospectuses &amp; Annual Reports

                .panel.panel-default
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapseThree')
                                i.fa.fa-caret-right
                                |  INSIGHTS
                    #collapseThree.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') Investment Insights

                .panel.panel-default
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapsefour')
                                i.fa.fa-caret-right
                                |  PRODUCTS
                    #collapsefour.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') Traditional and Roth IRAs
                                    li
                                        a(href='#') SIMPLE IRAs
                                    li
                                        a(href='#') 401(k) Plans
                                    li
                                        a(href='#') CollegeAmerica® 529 Plans
                                    li
                                        a(href="#") Portfolio Series 

                .panel.panel-default
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapsefive')
                                i.fa.fa-caret-right
                                |  PLANNING
                    #collapsefive.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') Tools &amp; Calculators
                                    li
                                        a(href='#') Investing Fundamentals
                                    li
                                        a(href='#') Mutual Fund Basics
                                    li
                                        a(href='#') Creating a Financial Plan
                                    li
                                        a(href="#") Retirement Planning
                                    li
                                        a(href='#') College Savings
                                    li
                                        a(href="#") Market Fluctuations
                                

                .panel.panel-default
                    .panel__heading
                        h4.panel__title
                            a(data-toggle='collapse' data-parent='#accordion' href='#collapsesix')
                                i.fa.fa-caret-right
                                |  SERVICE &amp; SUPPORT
                    #collapsesix.panel-collapse.collapse.in
                        .panel__body
                            .media
                                ul
                                    li
                                        a(href='#') Forms
                                    li
                                        a(href='#') Tax Center
                                    li
                                        a(href='#') How to Use Your Account
                                    li
                                        a(href='#') Changing Your Preferences
                                    li
                                        a(href="#") Contact Us