section(style='text-align : center; margin-top: 15vh')
  .savings
    article
      h3 Learn
      h1 Saving for college makes sense <br> wherever you are in life.
      p Parenting takes love and smarts. It shouldn't take a degree in economics <br>to save for your child’s education. That’s where we come in.
              